<form method="post" action="{{ path('articles_delete', {'id': article.id}) }}" onsubmit="return confirm('Confirmer la suppresion de cet article');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ article.id) }}">
    <button class="btn btn-danger rounded-0 mb-3">Supprimer</button>
</form>
